.video-gallery .video-embed-description {
  background-color: #e2e9eb;
  color: #49595e;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.1;
  max-width: 480px;
  padding: .75rem 1rem 1.25rem 1rem;
}
.video-gallery-grid {
  margin-bottom: 2rem;
}
.video-gallery-grid a {
  display: block;
  max-width: 480px;
}
@media (min-width:768px) {
  .video-gallery-grid:nth-child(2n+1) {
    clear:left;
  }
}
@media (min-width:992px) {
  .video-gallery-grid:nth-child(2n+1) {
    clear:none;
  }
  .video-gallery-grid:nth-child(3n+1) {
    clear:left;
  }
}